.loading-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; /* 画面中央に固定 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 背景を半透明にする */
    z-index: 1000; /* 他の要素の上に表示 */
}

.spinner {
    border: 4px solid #f3f3f3; /* ライトグレー */
    border-radius: 50%;
    border-top: 4px solid #3498db; /* 青色 */
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite; /* アニメーションを定義 */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
